<div class="nav">
	<div class="navigation">
	<% if @current_user %>
			<div class="list-items"> 
					Welcome <%= @current_user.name %>
					<%= button_to 'Logout', login_path(@current_user), method: :delete %>
			</div>  
	<%else %>
			<div class="list-items">
					<%= link_to 'Login', new_login_path %> |
					<%= link_to 'Sign Up', new_registration_path %>
			</div>
	<% end %> 
	</div>

	<div class="post">
			<%= link_to "New post",  new_post_path  %>
	</div>
</div>


<h1>Posts</h1>
<br>

<div class="container">
    <div id="posts">
        <% @posts.each do |post| %>
            <%= render post %>
            <hr>
        <% end %>
    </div>
</div>